
@import "bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    width: 100%; /* Ensures body takes full width */
}

.login-background {
    background: url('../images/Project/landscape.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background: transparent; /* possible change    rgba(255, 255, 255, 0.8); */
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white; /*change later */
    border-radius: 10px;
    padding: 30px 40px;
}

.container h1 {
    font-size: 2rem; /* Adjusted font size */
    color: #282E44; /* Deep red */
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

.container .input-login-box {
    width: 100%;
    height: 50px;
    margin: 30px 0; /*change for rem maybe? */
}

.container .input-login-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    front-size: 16px; /*change later */
    color: #282E44;
    padding: 20px 45px 20px 20px;
}

.container .input-login-box input::placeholder{
    color: #553547;
}

.container .input-login-box image{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    front-size: 20px;
}

.container.remember-forgot-check{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot-check label input{
    accent-color: #ffffff;
    margin-right: 3px;
}

.remember-forgot-check a {
    color: #ffffff;
    text-decoration: none;
}

.remember-forgot-check a:hover {
    text-decoration: underline;
}

.container .btn {
    width: 100%;
    height: 45px;
    background: #F8CACC;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #282E44;
    font-weight: 600;
}

.container .register{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a{
    color: #F8CACC;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}




/* header page */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: #282E44;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px;
}

.nav-link, .logout-link {
    color: #F8CACC;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    line-height: 1.5;
}

.logout-link {
    color: #F8CACC;
    background-color: #DC4049; /* Red background */
    margin-left: auto; /* Pushes the logout link to the right */
    border-radius: 5px; /* Adds rounded corners */
}

.logout-link:hover{
    color: #DC4049; /* Dark red on hover for text */
    background-color: transparent; /* Light red background on hover for logout */
}

.nav-link:hover {
    color: #DC4049; /* Dark red on hover for text */
}

/* Responsiveness */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
    }

    .nav-link, .logout-link {
        padding: 10px 0; /* Adjust padding for vertical layout */
    }

    body{
        background-image: url('../images/Project/landscape.jpg');
    }
}



/* home menu */

.home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 40px);
    background: url('../images/Project/home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    width: 50%;
}

.sidebar h2 {
    margin-top: 4rem;
    font-size: 1.5rem;
    color: #282E44;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

.sidebar-btn {
    background-color: #dc4049;
    color: #F8CACC;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    align-content: center;
    font-size: 16px;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.sidebar button:hover {
    background-color: #282E44;
}

.sidebar-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.sidebar-btn {
    width: 100%;
}

.content-container {
    display: flex;
    height: calc(100% - 40px); /* Adjust height considering the header */
    width: 100%;
}

.main-content {
    flex: 1; /* Also takes up half the space of its parent */
    background-color: transparent;
    padding: 20px;
    overflow-y: auto; /* For scrolling if content is too long */
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    margin: 8rem;
}

.main-content h1 {
    font-size: 2rem; /* Adjusted font size */
    color: #DC4049; /* Deep red */
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

.main-content p {
    font-size: 1rem; /* Adjusted font size */
    color: #282E44;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: justify;
}

/* Ensure the header is always at the top */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .sidebar, .main-content {
        width: 100%; /* Full width on smaller screens */
        flex: none; /* Disable flex to allow natural block stacking */
        order: 1; /* Ensures content is properly ordered when stacked */
    }

    .sidebar {
        order: 2; /* Sidebar goes below content on small screens */
    }
}


/*Forms CSS*/
body .forms-page {
    padding-top: 2rem;
}

.forms-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 4rem);
    padding-top: 10rem;
    background: url('../images/Project/home.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container-form {
    width: 80%;
    padding: 2rem;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
}

.container-form h1 {
    color: #DC4049;
    font-weight: 600;
    text-align: center;
}

.container-form h2 {
    color: #282E44;
    text-align: center;
}
.input-form {
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #F8CACC;
    border-radius: 4px;
}

.btn-create, .btn-update, .btn-delete{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #DC4049;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-create:hover, .btn-update:hover, .btn-delete:hover{
    background-color: #282E44;
}

.btn-search, .btn-all, .btn-view-deleted {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #553547;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-search:hover, .btn-all:hover, .btn-view-deleted:hover {
    background-color: #282E44;
}

.btn-remove-from-group, .btn-add-to-group, .btn-hardDelete {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #282E44;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-remove-from-group:hover, .btn-add-to-group:hover, .btn-hardDelete:hover {
    background-color: #DC4049;
}

.row, .row2 {
    display: flex;
    justify-content: space-between;
}

.col1, .col2 {
    width: 48%; /* Slightly less than half to fit margins */
}

@media (max-width: 768px) {
    .container-form {
        width: 100%;
        margin-top: 4.5rem;
    }
}
